.viewport {
  background-color: black;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
}

.page {
  display: inline-block;
  border: 9px solid transparent;
  overflow: visible;
  position: relative;
  margin: auto;
}

.selectionbox {
  position: absolute;
  background: #b3e5fc;
  border: 1px solid #01579b;
  pointer-events: none;
  opacity: 0.5;
}

.markingbox {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  border: 1px solid darkred;
  pointer-events: none;
  opacity: 0.5;
  transform-origin: bottom left;
}